<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - HPC Flask server</title>
    {% else %}
    <title>Flask Server</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('website.static', filename='mystyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('website.static', filename='record.css') }}">
    <link rel="stylesheet" href="{{ url_for('website.static', filename='codehilite.css') }}">
    <link rel="shortcut icon" href="{{ url_for('website.static', filename='icon.svg') }}">
    <br/> {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }} ">
        <span>{{ message }}</span>
    </div>
    {% endfor %} {% endif %} {% endwith %}
</head>

<body>
    <header>
        <div class="navbar">
            <strong><nav>
                <ul class="menu">
                    <li><a href="{{ url_for('website.index') }}">Home</a></li>
                    <li><a href="{{ url_for('website.patching') }}">Patching</a></li>
                    <li><a href="{{ url_for('website.distropie') }}">Distro-graph</a></li>
                    <li><a href="{{ url_for('website.scatter') }}">Patching-scatter</a></li>
                    <li><a href="{{ url_for('website.inventory_all') }}">Inventory</a></li>
                    <li><a href="{{ url_for('website.queue') }}">Grid queue</a></li>
                </ul>
            </nav></strong>
        </div>
    </header>
    <div class="container">
        {% block content %} {% endblock %}
        <div>
</body>

</html>