<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - HPC Flask server</title>
    {% else %}
    <title>Flask Server</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('website.static', filename='mystyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('website.static', filename='record.css') }}">
    <link rel="stylesheet" href="{{ url_for('website.static', filename='codehilite.css') }}">
    <link rel="shortcut icon" href="{{ url_for('website.static', filename='icon.svg') }}">
</head>

<body>
    <header>
        <nav>
            <div class="navbar">
                <ul class="menu">
                    <li id="navitem"><a href="{{ url_for('website.index') }}" id="menuitem">Home</a></li>
                    <li id="navitem">
                        <div class="dropdown">
                            <button class="dropbtn">&#9660 Patching</button>
                            <div class="dropdown-content">
                                <ul class="dropdown-items">
                                    <li><a href="{{ url_for('website.patching') }}">Patching</a></li>
                                    <li><a href="{{ url_for('website.distropie') }}">Distro-graph</a></li>
                                    <li><a href="{{ url_for('website.scatter') }}">Patching-scatter</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="navitem">
                        <div class="dropdown">
                            <button class="dropbtn">&#9660 Inventory</button>
                            <div class="dropdown-content">
                                <ul class="dropdown-items">
                                    <li><a href="{{ url_for('website.inventory_all') }}">GBJH / CHST</a></li>
                                    <li><a href="{{ url_for('website.aws') }}">ECICL</a></li>
                                    <li><a href="{{ url_for('website.cmdb') }}">CMDB </a></li>
                                </ul>
                            </div>
                        </div>
                        <li id="navitem"><a href="{{ url_for('website.queue') }}">Grid queue</a></li>
                        <li id="navitem"><a href="{{ url_for('api_pages.api_home') }}">API</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <span>{{ message }}</span>
        </div>
        {% endfor %} {% endif %} {% endwith %} {% block content %} {% endblock %}
        <div>
</body>

</html>