{% extends "base.html" %} {% block content %}

<h3 id="wibble">Patching Status from cache scan</h3>
<br/> {{data|safe }}
<script>
 var table = document.getElementById("PatchingTable");
    if (table != null) {
        for (var i = 0; i < table.rows.length; i++) {
            for (var j = 0; j < table.rows[i].cells.length; j++)
            table.rows[i].cells[j].onclick = function () {
                tableText(this);
            };
        }
    }

    function tableText(tableCell) {
        alert(tableCell.innerHTML);
    }
-->
</script>
{% endblock %}
