{% extends "base.html" %}

{% block content %}

<h3 id="wibble">Patching Status from cache scan</h3>
<br/>
{{data|safe }}
<span id="yj-share-button"></span>
<script type="text/javascript" src="https://s0.assets-yammer.com/assets/platform_social_buttons.min.js"></script>
<script type="text/javascript">yam.platform.yammerShare();</script>
<script>
  window.onclick = e => { //Run when a window is clicked
    var hostname = e.target.id;
    console.log(hostname);
    var hostnameClicked = false;
    if (hostname.includes('hostname-') == true ) { //Check if the clicked element is a hostname
      var hostnameClicked = true;
    } else { //Get the parent id element
      hostname = e.target.parentNode.id;
      if (hostname.includes('hostname-') == true ) { //Try again
        var hostnameClicked = true;
      }
    }
    if (hostnameClicked == true) { //Open the inventory page for the clicked hostname
      var inventoryUrl = window.location.href.replace('showpatching', 'inventory/') + hostnamereplace('hostname-', '');
      window.open(inventoryUrl, "_self");
    }
  }
</script>
{% endblock %}


