<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Flask server</title>
      {% else %}
      <title>Flask Server</title>
      {% endif %}
      <link rel="stylesheet" href="./static/mystyle.css">
    </head>
    <body>
        <div>Menu:  <a href="./">Home</a> :
                    <a href="./queue">Grid queue</a> :
                    <a href="./showpatching">Show patching</a> :
                    <a href="./file">File test</a> :
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
