<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Flask server</title>
      {% else %}
      <title>Flask Server</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <header>
        <div class="container">
            <strong><nav>
                <ul class="menu">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('queue') }}">Grid queue</a></li>
                    <li><a href="{{ url_for('patching') }}">Show patching</a></li>
                    <li><a href="{{ url_for('structuresapi') }}">Testing: Structures api test</a></li>
                    <li><a href="{{ url_for('file_out') }}">Testing: file write out</a></li>
                </ul>
            </nav></strong>
        </div>
        </header>
        <div class="container">
        {% block content %}
        {% endblock %}
        <div>
    </body>
</html>
