click
Flask
Flask-RESTful
itsdangerous
Jinja2
MarkupSafe
uWSGI
Werkzeug
Markdown
matplotlib
numpy
pandas
requests
celery
redis
msgpack-python
gevent
Pygments
Flask-Mail==0.9.0
seaborn
boltons
fsspec
boto3
plotly
